header{
    border-bottom: solid #5E992A 10px;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.div-header{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

a{
    margin: 1.5% 0;
}
.logo{
    
}

h1{
    font-size: 20px;
    color: #646464;
}

li{
    float: left;
    text-align: center;
}

ul, li, img, div {
    /* border: solid red 1px;
    border-collapse: collapse; */
}

#header-menu{
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 0;
}

#header-menu li{
    padding: 0.8em 1.3em;
}


#header-menu h1{
    margin-top: 0.5em;
}

#header-outros-contatos{
    font-size: 15px;
    margin: 0 auto;
}

#header-outros-contatos li {
    font-size: 15px;
    color: #666;
    margin-right: 0.7em;
}

#header-regiao-atendida label{
    float: left;
}

#header-regiao-atendida{
    float: right;
}

.header-outros-regiao{
    margin-top: 1%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

form {
    font-size: 15px;
}

label{
    line-height: 2em;
}

select{
    border: 1px solid #AEAEAE;
    color: #50992A;
}