

*{
    margin: 0;
    padding: 0;
    color: #707173;
}
.div-fundo{
    overflow: hidden;
    margin-bottom: 0;
}

.fornecedores{
    margin: 0 auto;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    padding: 2em 0;
}

h3{
    font-size: 46px;
}

.exclusivos{
    text-align: center;
}

.p-principal{
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
}

.p-informativo{
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
}

.div-cinza{
    margin: -2em 0;
    right: -20%;
    position: absolute;
    background-color: #707173;
    width: 80%;
    height: 100%;
    transform: skewX(-20deg);
}


.div-cinza2{
    margin: -2em 0;
    left: -23%;
    position: absolute;
    background-color: #707173;
    width: 80%;
    height: 100%;
    transform: skewX(20deg);
}

li{
    background-color: white;
    text-align: center;
    padding: 2.5% 0;
    height: 95px;
    
}

