<div class="row mt-5">
    <app-buscar class="col-5"></app-buscar>
    <a class="row col">
        <button class="col lancamentos"><img src="assets/imagens/icon-button-lancamentos.svg">LANÇAMENTOS</button>
    </a>
    <a class="row col">
        <button class="col destaque"><img src="assets/imagens/icon-button-destaques.svg">DESTAQUE</button>
    </a>
    <a class="row col">
        <button class="col fornecedores"><img src="assets/imagens/icon-button-fornecedores.svg">FORNECEDORES</button>
    </a>
</div>