* {
    margin: 0;
    padding: 0;
}

form{
    border: solid #868686 2px;
    background-color: white;
}

input {
    /* background-image: url(assets/imagens/icone_buscar.svg); */

    padding: 0.8em;
    font-size: 22.5px;
    font-style: italic;
    font-weight: 300;

}

::-webkit-input-placeholder{
    color: #C7C7C7;
}
button{
    align-self: end;
    background-color: white;
    text-align: left;
}
